absl-py==0.9.0
anaconda-client==1.2.2
appdirs==1.4.3
appnope==0.1.0
args==0.1.0
asn1crypto==1.2.0
astor==0.8.1
astroid==2.3.3
astropy==3.2.3
astunparse==1.6.3
attrs==19.3.0
autogluon==0.0.3
awscli==1.17.0
backcall==0.1.0
backports.functools-lru-cache==1.5
backports.tempfile==1.0
backports.weakref==1.0.post1
bcrypt==3.1.7
bleach==3.1.0
blinker==1.4
blis==0.4.1
bokeh==1.4.0
boto==2.49.0
boto3==1.12.12
bottle==0.12.18
bson==0.5.8
bz2file==0.98
cachetools==4.0.0
catalogue==0.2.0
cchardet==2.1.5
certifi==2020.4.5.1
cffi==1.13.1
chardet==3.0.4
Click==7.0
clint==0.5.1
clyent==1.2.2
colorama==0.4.1
conda==4.8.3
conda-build==3.18.9
conda-package-handling==1.6.0
conda-verify==3.4.2
configparser==4.0.2
ConfigSpace==0.4.10
confuse==1.0.0
crayons==0.3.0
cryptography==2.8
cycler==0.10.0
cymem==2.0.3
Cython==0.29.14
dask==2.9.0
decorator==4.4.1
defusedxml==0.6.0
dill==0.3.1.1
distlib==0.3.0
distributed==2.9.0
docutils==0.15.2
emoji==0.5.4
entrypoints==0.3
fastprogress==0.2.2
filelock==3.0.12
Flask==1.1.1
Flask-Cors==3.0.8
floyd-cli==0.11.17
flup==1.0.3
future==0.18.2
gast==0.2.2
gevent==1.4.0
glob2==0.7
gluoncv==0.5.0
gluonnlp==0.6.0
GPUtil==1.4.0
gpxpy==1.4.0
graphviz==0.8.4
greenlet==0.4.15
grpcio==1.26.0
gunicorn==20.0.4
h5py==2.10.0
HeapDict==1.0.1
html5lib==1.0.1
htmlmin==0.1.12
idna==2.8
imageio==2.8.0
imageio-ffmpeg==0.4.1
importlib-metadata==0.23
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.3.21
itsdangerous==1.1.0
jedi==0.15.1
jieba==0.42.1
Jinja2==2.10.3
jmespath==0.9.4
joblib==0.14.0
json5==0.8.5
jsonify==0.5
jsonschema==3.1.1
Keras==2.3.1
Keras-Applications==1.0.8
keras-embed-sim==0.7.0
keras-layer-normalization==0.14.0
keras-multi-head==0.22.0
keras-position-wise-feed-forward==0.6.0
Keras-Preprocessing==1.1.0
keras-self-attention==0.41.0
keras-transformer==0.32.0
kerberos==1.3.0
kiwisolver==1.1.0
ktrain==0.10.0
lazy-object-proxy==1.4.3
libarchive-c==2.8
lief==0.9.0
llvmlite==0.30.0
lxml==4.5.0
Markdown==3.1.1
MarkupSafe==1.1.1
marshmallow==2.20.5
matplotlib==3.1.2
mccabe==0.6.1
mechanize==0.4.5
missingno==0.4.2
mistune==0.8.4
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mock==3.0.5
more-itertools==7.2.0
msgpack==0.6.2
murmurhash==1.0.2
mysql-connector==2.2.9
navigator-updater==0.2.1
nbconvert==5.6.1
nbformat==4.4.0
networkx==2.3
numba==0.46.0
numpy==1.18.1
oauthlib==3.1.0
olefile==0.46
opt-einsum==3.1.0
packaging==19.2
pandas==1.0.1
pandocfilters==1.4.2
paramiko==2.7.1
parso==0.5.1
pathlib2==2.3.5
pexpect==4.7.0
phik==0.9.8
pickleshare==0.7.5
Pillow==6.2.1
pkginfo==1.5.0.1
plac==1.1.3
pluggy==0.13.1
preshed==3.0.2
proglog==0.1.9
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==3.0.5
protobuf==3.11.4
psutil==5.6.3
ptyprocess==0.6.0
py==1.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle==2.5.0
pycodestyle-magic==0.5
pycosat==0.6.3
pycparser==2.19
pyenchant==3.0.1
Pygments==2.4.2
PyInquirer==1.0.3
pylint==2.4.4
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.5
pyrsistent==0.15.4
PySocks==1.7.1
pytest==5.3.1
pytest-pylint==0.14.1
python-crontab==2.4.0
python-dateutil==2.8.1
python-dotenv==0.10.3
python-env==1.0.0
pytz==2019.3
PyYAML==5.1.2
pyzmq==18.1.0
QtPy==1.9.0
raven==6.10.0
regex==2019.12.20
requests==2.22.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
retrying==1.3.3
rsa==3.4.2
ruamel-yaml==0.15.46
s3transfer==0.3.3
sacremoses==0.0.35
scikit-optimize==0.5.2
Send2Trash==1.5.0
seqeval==0.0.12
six==1.12.0
smart-open==1.9.0
sortedcontainers==2.1.0
soupsieve==1.9.3
srsly==0.2.0
syntok==1.2.2
tabulate==0.8.6
tblib==1.6.0
tensorboard==1.15.0
tensorboard-plugin-wit==1.6.0.post3
tensorflow==1.15.0
tensorflow-estimator==1.15.1
tensorflow-hub==0.7.0
tensorflow-metadata==0.21.1
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
thinc==7.3.1
toolz==0.10.0
torch==1.3.1
tornado==6.0.3
tqdm==4.46.0
traitlets==4.3.3
transformers==2.2.1
typed-ast==1.4.0
typing==3.6.6
urllib3==1.24.2
vecstack==0.4.0
virtualenv==20.0.7
wasabi==0.5.0
wcwidth==0.1.7
webdriver-manager==2.3.0
websockets==8.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xlrd==1.2.0
zict==1.0.0
zipp==0.6.0
