<footer class="page-footer font-small blue-grey lighten-5" style="box-shadow: 0px 45px 45px 100px #eceff1;">
  <div class="container text-center">
    <div class="row dark-grey-text">
      <div class="col">
        <b><a href-"https://rohitswami.com" target="_blank" class="text-primary">www.rohitswami.com</a></b>
        <p style="margin-top: 10px !important;">Made with <i class="fas fa-2x fa-heart fa-red text-primary" aria-hidden="true"></i> in India
        </p>
      </div>
    </div>
  </div>
</footer>